<!DOCTYPE html>
<html lang="en">

<%-include('../components/head.ejs')%>

    <body>
        <div>
            <%- include('../components/navbar.ejs') %>

                <% blogs.map(blog=> { %>
                    <div class="blog">
                        <a href="<%=blog.id%>">
                            <p class="title">
                                <%= blog.title %>
                            </p>

                        </a>
                        <p class="createdAt"><%= format(new Date(blog.createdAt), "PPp")  %> </p>
                        <!-- in tuts i will show this later, after details time formating, I will tell, i can format data from js file but how can i do inside ejs file? well its pretty easy. then show the technique -->
                        <p class="snippet">
                            <%=  blog.snippet.slice(0, 150) %>...
                        </p>
                    </div>
                    <% }) %>
        </div>
        <%- include('../components/footer.ejs') %>
    </body>

</html>