<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon">
        <meta name="theme-color" content="#f15273">
        <title><%= title %> </title>
        <meta property="og:description" content="Primer Blog update page. From here, blog post can be created. ">
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>

    <body>
        <div>
            <%- include('../components/navbar.ejs') %>
                <div>
                    <form action="/post/update" method="POST" enctype="multipart/form-data">
                        <input type="text" id="id" name="id" hidden>
                        <label for="title">Title: </label>
                        <input type="text" id="title" name="title" required>
                        <label for="snippet">Snippet: </label>
                        <input type="text" id="snippet" name="snippet" required>
                        <label for="body">Body: </label>
                        <textarea name="body" id="body" cols="30" rows="10" required></textarea>
                        <label for="image">Thumbnail:</label>
                        <input type="file" name="image" id="image" accept="image/*">

                        <button>Post</button>
                    </form>
                </div>
        </div>
        <%- include('../components/footer.ejs') %>
        <% let post = blog; %>
        <script>
            document.getElementById('title').value = <%- JSON.stringify(blog.title) %>;
            document.getElementById('snippet').value = <%- JSON.stringify(blog.snippet) %>;
            document.getElementById('body').value = <%- JSON.stringify(blog.body) %>;
            document.getElementById('id').value = <%- JSON.stringify(blog.id) %>;

        </script>

    </body>

</html>